*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

body{
}

.flex{
  display: flex;
}

ul{
  list-style-type: none;
}

.pointer{
  cursor: pointer;
}

.test{
  height: 200vh;
}

/* -----------------------------//-------------------------
                          nav Component
----------------------------//-------------------------- */

nav{
  height: 80px;
  width: 100vw;
  position: fixed;
  transition: all .5s;
  z-index: 5;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0);
}

.navigation {
  height: 100%;
  align-items: center;
}

.logo{
  display: none;
  max-width: 60px;
  min-width: 60px;
  margin-left: 30px;
}

.logo img{
  max-width: 100%;
  max-height: 100%;
}

.webView{
  flex: 80%;
}

.webView ul{
  justify-content: flex-end;
}
.webView li{
  margin-right: 40px;
  color: white;
}

.mobileView{
  display: none;
  flex: 80%;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin: 0 30px;
}

@media (max-width: 800px) {

  .webView {
    display: none;
  }
  
  .mobileView{
    display: inline;
  }

  .checkbtn{
    display: inline;
  }
}


/* ---------------------------//----------------------
                        Landing
----------------------------//----------------------- */

.landing{
  background-image: url("./BackgroundCode.png");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}